= render 'layouts/header'
.wrapper
  %h1 ログイン
  .form
    = form_with model: @company, local: true do |f|
      - flash.each do |key, value|
        = content_tag :div, value, class: key
      .field
        = f.label '企業名'
        = f.text_field :name, required: true, placeholder: '企業の名前を入力してください', class: 'input-area'
      .field
        = f.label 'パスワード'
        = f.password_field :password, required: true, placeholder: 'パスワードを入力してください', class: 'input-area'
      .field.submit
        = f.submit '企業にログインする', class: 'submit-btn'
    = form_with model: @company, local: true do |f|
      =f.hidden_field :name, value: 'てすと事業所'
      =f.hidden_field :password, value: '000000'
      =f.submit 'テストログイン', class: 'test-btn'
