= render 'shared/header'
.container
  .company-home
    .left
      -if logged_in_company?
        = render 'companies/side'
    .center
    .right
      - @opinions.each do |o|
        .opinion-list
          .opinion-main
            = simple_format(o.content)
          .opinion-name
            = link_to o.name, user_path(o.user_id)
            = l o.created_at, format: :long
      = will_paginate @opinions
