= form_with(model: @user, local: true) do |f|
  = render "shared/error_messages", model: f.object
  .field.user-field
    = f.label :name
    = f.text_field :name, placeholder: '利用者名を入力してください', required: "", class: 'input-area user-input'
  .field.user-field
    = f.label :hurigana
    = f.text_field :hurigana, placeholder: 'フリガナを入力してください', class: 'input-area user-input'
  .field.user-field
    = f.label :group_id
    = f.collection_select :group_id, @company.groups, :id, :name, prompt: "未選択", class: 'input-area select-input'
  .field.user-field.uplorder
    = f.label :image
    = f.file_field :image, class: 'uplord-btn'
  .field.user-field
    = f.label :gender
    = f.select :gender, User.genders.keys.to_a, {}, class: 'input-area select-input'
  .field.user-field
    = f.label :birthday
    = f.date_select :birthday, use_month_numbers: true,start_year: 1900, end_year: (Time.now.year - 50), default: Date.new(1900, 1, 1), class: 'input-area'
  .field.user-field
    = f.label :zipcode
    = f.text_field :zipcode, placeholder: '郵便番号を入力してください', onkeyup: "AjaxZip3.zip2addr(this,'','addr11','addr11')", class: 'input-area user-input'
  .field.user-field
    = f.label :street_address
    = f.text_field :street_address, placeholder: '住所を入力してください', name: "addr11", class: 'input-area user-input'
  .field.user-field
    = f.label :care_required
    = f.select :care_required, User.care_requireds.keys.to_a, {}, class: 'input-area select-input'
  .field.user-field
    = f.label :status
    = f.select :status, User.statuses.keys.to_a, {}, class: 'input-area select-input'
  - if action_name == 'new'
    .field.user-field
      = f.label :password
      = f.password_field :password, required: "", placeholder: 'パスワードを設定してください', class: 'input-area user-input'
    .field.user-field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, required: "", class: 'input-area user-input'
  .field.user-field
    = f.submit class: 'login-btn'
