.user-page
  %h1 入居者情報
  .user-info
    .user-field
      %h2 利用者
      %table
        %tr
          %th 氏名
          %td
            .user-furigana
              = @user.furigana
            .user-name
              = @user.name
        %tr
          %th 生年月日
          %td
            = "#{@user.birthday.year}年#{datedisplay(@user.birthday)} / #{@user.calc_age(@user.birthday)}歳"
        %tr
          %th 性別
          %td
            = @user.gender
        %tr
          %th 居室番号
          %td
            = @user.room_number
        %tr
          %th 住所
          %td
            .user-zipcode
            - if @user.zipcode?
              = @user.zipcode.tr('０-９', '0-9')
            .user-address
              = @user.street_address
        %tr
          %th 介護度
          %td
            = @user.care_required
        %tr
          %th 入居状況
          %td
            = @user.status
        %tr
          %th 入居日
          %td
            = "#{@user.occupancy.year}年#{datedisplay(@user.occupancy)}"
    .contact-field
      %h2 連絡先
      - if @families
        -@families.each_with_index do |f, i|
          %h3=  "連絡先 #{i+1}"
          .family-jeneral
            - if logged_in_company?
              .family-config
                .config
                  = link_to edit_user_family_path(@user, f) do
                    %i.far.fa-address-book
                    編集する
                .config
                  = link_to user_family_path(@user, f), method: :delete, data: {confirm: "「#{f.name}」を削除しますか?", cancel: "キャンセル", commit: "削除" } do
                    %i.far.fa-times-circle
                    削除する
            %table
              %tr
                %th 氏名
                %td
                  .user-furigana
                    = f.furigana
                  .user-name
                    = f.name
              %tr
                %th 電話番号
                %td
                  = f.phone
              %tr
                %th 住所
                %td
                  .user-zipcode
                  - if @user.zipcode?
                    = f.zipcode.tr('０-９', '0-9')
                  .user-address
                    = f.street_address
              %tr
                %th 利用者との関係
                %td
                  = f.relationship
              %tr
                %th その他
                %td
                  = f.information
    - if ['show'].include? action_name
      .open-close
        = link_to new_user_family_path(@user) do
          %label.div-plus
            連絡先を追加する
            %i.fas.fa-plus
