.wrapper
  .container
    .content
      .user-side
        - if logged_in_user?
          %div
            = link_to "#{current_user.name}", user_path(current_user)
          %div= link_to "家族としての利用を終了する", logout_user_path, method: :delete
        - else
          %div= link_to "家族として利用する", login_user_path
      .company-side
        = link_to '企業をして利用する', companies_path