- if logged_in_user?
  %div
    = link_to user_path(current_user) do
      = current_user.name
  %div= link_to "家族としての利用を終了する", logout_user_path, method: :delete
- else
  %div= link_to "家族として利用する", login_user_path
%div= link_to '企業をして利用する', companies_path