.company-name
  = link_to "#{current_company.name}", company_path(current_company), class: 'header-btn'
.company-list
  .field
    = sidebar_link_item "利用者を登録", new_user_path
  .field
    = sidebar_link_item "記録者を登録", new_company_recorder_path(@company)
  .field
    = sidebar_link_item "グループを作成", new_company_group_path(@company)
  - if @company.groups
    - @company.groups.each_with_index do |g, i|
      .group-list
        %input.on-off{id: "Panel#{i}", type: "checkbox"}
        %label.field{for: "Panel#{i}"}= g.name
        .user-list
          - g.users.each do |u|
            .user-name
              = sidebar_link_item "#{u.name}", user_path(u)
  .field
    - if logged_in_recorder?
      = link_to "記録を終了する", logout_recorder_path, method: :delete
    - else
      = sidebar_link_item "記録者としてログイン", login_recorder_path
  .field
    = link_to "企業からログアウト", logout_company_path, method: :delete