%h1 利用者一覧
.user-page
  .user-list
    .user-table
      %table
        %thead
          %tr
            %th.recorder= sort_link(@q, :room_number, '部屋番号')
            %th.date= sort_link(@q, :furigana, '名前')
            %th.birth= sort_link(@q, :birthday, '生年月日')
            %th.edit= sort_link(@q, :birthday, '年齢')
            %th.edit= sort_link(@q, :gender, '性別')
            %th= sort_link(@q, :care_required, '介護度')
            %th.birth= sort_link(@q, :occupancy, '入居日')
            %th ID
        %tbody
          - @users.each do |u|
            %tr
              %td= u.room_number
              %td
                = link_to user_path(u) do
                  = u.name
                  %i.fas.fa-external-link-alt
              %td.align-left= "#{u.birthday.year}年#{datedisplay(u.birthday)}"
              %td= u.calc_age(u.birthday)
              %td= u.gender
              %td= u.care_required
              %td.align-left= "#{u.occupancy.year}年#{datedisplay(u.occupancy)}"
              %td= u.login_id
    - if controller.controller_name == 'companies'
      .open-close
        %label.div-plus{for: 'div'}
          退去者情報
          %i.fas.fa-bars
        .move-out
          %input.open{id: 'div', type: 'checkbox'}
          .move_out-list
            %h1 退去者一覧
            %table
              %thead
                %tr
                  %th 名前
                  %th.birth 生年月日
                  %th 性別
                  %th.birth 入居日
                  %th
              %tbody
                - @move_out_users.each do |u|
                  %tr
                    %td= link_to u.name,  user_path(u)
                    %td= "#{u.birthday.year}年#{datedisplay(u.birthday)}"
                    %td= u.gender
                    %td= "#{u.occupancy.year}年#{datedisplay(u.occupancy)}"
                    %td= link_to '削除',  user_path(u), method: :delete, data: {confirm: "「#{u.name}」を削除しますか?", cancel: "キャンセル", commit: "削除" }
