= @company.name
%div= link_to "利用者を登録", new_user_path
%div= link_to "記録者を登録", new_recorder_path
- if logged_in_recorder?
  = link_to "logout", logout_recorder_path, method: :delete
- else
  = link_to "記録者としてログイン", login_recorder_path
%div= link_to "グループを作成", new_group_path
%div
  - @company.groups.each do |group|
    %div
      = link_to group_path(group) do
        = group.name