.wrapper
  .container
    .content
      .company-home
        .left
          = render 'side'
        .right
          %h1 利用者一覧
          .user-list
            %table
              %thead
                %tr
                  %th= sort_link(@q, :group_id, 'グループ')
                  %th= sort_link(@q, :hurigana, '名前')
                  %th= sort_link(@q, :birthday, '生年月日')
                  %th= sort_link(@q, :birthday, '年齢')
                  %th= sort_link(@q, :gender, '性別')
                  %th= sort_link(@q, :care_required, '介護度')
                  %th= sort_link(@q, :occupancy, '入居日')
              %tbody
                - @users.each do |u|
                  %tr
                    - if u.group
                      %td= u.group.name
                    %td= link_to "#{u.name}",  user_path(u)
                    %td= "#{u.birthday.year}年""#{wareki(u.birthday)}"
                    %td= u.calcAge(u.birthday)
                    %td= u.gender
                    %td= u.care_required
                    %td= "#{u.occupancy.year}年""#{wareki(u.occupancy)}"
