= form_with(model:[@user, @post], local: true) do |f|
  .field
    = f.label :datetime
    = f.datetime_field :datetime, class: 'input-area'
  .field
    = f.label :focus
    = f.text_field :focus, required: "", class: 'input-area'
  .field
    = f.label :content
    = f.text_field :content, required: "", class: 'input-area'
  .field
    = f.submit class: 'submit-btn'