= form_with(model:[@user, @post], local: true) do |f|
  .field
    = f.label :datetime
    = f.datetime_field :datetime
  .field
    = f.label :focus
    = f.text_field :focus
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.submit class: 'submit-btn'