= render 'shared/header'
.container
  .company-home
    .left
      = render 'companies/side'
    .center
    .right
      .nav-bar
        %h2 利用者名
        .user-name
          = link_to user_path(@user), class: 'link-btn' do
            = @user.name
            %i.fas.fa-external-link-alt
      %h1 記録を編集
      .form
        = render 'form'
