.wrapper
  .container
    .content
      .company-home
        .left
          = render 'companies/side'
        .right
          .nav-bar
            %h2 利用者名
            .user-name
              = link_to "#{@user.name}", user_path(@user), class: 'link-btn'
              - @archives.each do |yyyymm, count|
                = link_to "#{ymconv(yyyymm, count.to_s)}", user_archive_path(@user, yyyymm)
          - if logged_in_recorder?
            .post-write
              = link_to '記録を書く', new_user_post_path(@user), class: 'link-btn write'
          %h1 記録一覧
          .user-page
            .user-list
              %table
                %thead
                  %tr
                    %th.date 日付
                    %th フォーカス
                    %th 内容
                    %th 記録者
                    %th
                %tbody
                  - @posts.each do |p|
                    %tr
                      %td= l p.datetime, format: :short
                      %td= p.focus
                      %td= simple_format(p.content)
                      %td= p.recorder.name
                      %td= link_to '編集', edit_user_post_path(@user, p)