.wrapper
  .container
    .content
      .company-home
        .left
          = render 'companies/side'
        .right
          %h1 記録一覧
          .form
            - @posts.each do |p|
              .user_post
                = l p.datetime, format: :short
                = p.focus
                = simple_format(p.content)
                = p.recorder_id
                = link_to '編集', edit_user_post_path(@user, p)