= render 'shared/header'
.container
  .company-home
    .left
      -if logged_in_company?
        = render 'companies/side'
    .right
      %h1 記録者一覧
      .user-page
        .user-list
          .recorder-table
            %table
              %thead
                %tr
                  %th.recorder 氏名
                  %th ログインID
                  %th
              %tbody
                - @recorders.each do |r|
                  %tr
                    %td= r.name
                    %td= r.login_id
                    %td= link_to '削除',  company_recorder_path(current_company, r), method: :delete
